#ux-section {
    height: 100%;
    
    @media only screen and (min-device-width: 1025px) {
        /* padding: 5rem; */
        /* display: grid;
        grid-template-rows: 20% 60% 20%; */
        display:flex;
        flex-wrap: nowrap;
        flex-direction: column;
        justify-content:space-between;
        
    }


    #casestudies {
       
        .casestudies-wrapper {
            /* height: 500px; */
            
            @media only screen and (min-device-width: 1024px) and (max-device-height: 1366px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait)  {
                padding: 3rem;
                
                
            }

            @media only screen and (min-device-width: 1025px) {
                /* padding: 5rem; */
                display: grid;
                grid-template-columns: 1fr 1fr;
                /* height: 80vh; */
            }
              
        }

       
    }

    footer {
        /* @media only screen and (min-device-width: 1025px) {
          
            height: 20vh;
        } */

        
    }
}