/* Color Variables: */
  $main-bg-color: #24496A;

  .navbar {
    display: flex;
    position: fixed;
    max-width: 100%;
    height: 100%;
    width: 10%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    top: 0px;
    left: 0px;
    bottom: 0px;
    /* background-color: green; */
    border-right: 2px solid #ddd;
    background-color: $main-bg-color !important;
    /* background: linear-gradient(#24496A,#36BF9D); */
    /* border: 10px solid red; */
    
    .nav-items-container {
      position: fixed;
      width: 10%;
      max-width: 100%;
      height: 100%;
      max-height: 100%;
      text-align: right;
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: flex-end;
      /* border: 10px solid red; */
      
      
      .main-nav-item {
        position: relative;      
        top: 5px;
        /* left: 4rem; */ /* TODO: offsets to the side upon shift */
        display: flex;
        transform: rotate(-90deg);
        width: 150px;
        max-width: 100%;

        &.active {
          li {
            span {
              opacity: 1;
              color: #36BF9D;
              /* background-color: red;
              border-radius: 20px; */
            }
          }
        
      }

      li {
        line-height: 45px;
        color: #fff;
        text-transform: uppercase;
        font-weight: 400;
        letter-spacing: 2px;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        max-width: 100%;
        width: 100%;
        
      }
        
        span {
          display: flex;
          align-items: center;
          justify-content: center;
          opacity: 0.5;
          transition: opacity 400ms ease 0s;
          font-size: 15px;
          width: 100%;
          padding: 1rem;
          font-family: 'Lora', sans-serif;
          font-weight: 400;

          &:hover {
            opacity:  1;
            /* transition: opacity 400ms ease 0s; */
          }
          
        }
        
    
      }
    }
  }

/* TODO: We this needs to be empty so HorizontalNav.jsx takes the space on the DOM: */
  @media screen and (max-width: 1000px) {
    .navbar {
      display: none;
    }
  }

  .mobile-icon {
    display: none;
  }
  
  /* .nav-logo {
    height: 100px;
  } */

/* THIS IS WHERE THE ANIMATION FOR NAVBAR IS APPLIED */

/* .navBarTransition-enter {
  opacity: 0;
  transform: scale(1);
}
.navBarTransition-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 450ms, transform 300ms;
}
.navTransition-exit {
  opacity: 1;
}
.navBarTransition-exit-active {
  opacity: 0;
  transform: scale(1);
  transition: opacity 450ms, transform 300ms;
} */
  
