/* Color Variables: */
  $main-bg-color: #07678E;

  ul {
      /* position: absolute; */
    /*   display: flex;
      flex-direction: column; */


      li {
          text-transform: uppercase;
      }
  }

  .navbar {
    display: flex;
    position: fixed;
    max-width: 100%;
    height: 100%;
    width: 10vw;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    /* justify-content: center; */
    /* --webkit-box-orient: vertical;
    --webkit-box-direction: normal; */
    /* transform: rotate(-90deg); */
    /* align-items: flex-end; */
    /* padding: 30px; */
    top: 0px;
    left: 0px;
    bottom: 0px;
    background-color: green;
    border-right: 2px solid #ddd;

    .nav-items-container {
      position: absolute;
      /* transform: rotate(-90deg); */
      width: 100%;
      /* left: -196px;
      top: 328px;
      width: 480px; */
      max-width: 100%;
      height: 100%;
      text-align: right;
      
      .main-nav-item {
        /* position: absolute; */
        /* position: relative; */
        /* transform: rotate(-90deg); */
    
        /* -webkit-transform-origin: left top;
        -webkit-transform:rotate(-90deg) translateX(-100%); */
        
        /* top: 328px;
        left: 50px; */
        display: flex;
        flex-direction: column;
        
        text-align: right;
        background-color: orange;
        max-width: 100%;
        
      }
/* /TODO: Need to make the li items horizontal, some reason they are stacked */
      .main-nav-item > li {
    
        /* margin-right: 20px;
        height: 100%;
        line-height: 45px; */
        color: black;
        /* overflow: hidden; */
        position: static;
        display: inline;
        padding: 12px 14px;
        max-width: 100%;
        transform: rotate(-90deg);
        height: 100%;
        /* justify-content: space-between */;
        /* float: right; */
      
        
    
      }
    }
  }

  @media screen and (max-width: 768px) {

    .navbar {
      background-color: $main-bg-color;
      padding: 0px;
      height: 8vh;
      justify-content: flex-end;
      
      .nav-items-container {
        display: none;
      }
    
      .mobile-icon-container {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        

        .mobile-icon {
        
          display: flex;
          transform: translate(-80%);
          cursor: pointer;
          color: black;
          height: 60%;
        }
      
      }

    }

    
  }

  .mobile-icon {
    display: none;
  }

  /* .nav-logo {
    height: 100px;
  } */
