ul {
    /* position: absolute; */
  /*   display: flex;
    flex-direction: column; */


    li {
        text-transform: uppercase;
    }
}

.mobile-icon {
  position: absolute;
  z-index: 999;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  bottom: 0px;
  max-width: 100%;
}

.nav-logo {
  height: 100px;
}
