ul {
    /* position: absolute; */
  /*   display: flex;
    flex-direction: column; */


    li {
        text-transform: uppercase;
    }
}

.navbar {
  display: flex;
  position: relative;
  max-width: 100%;
  height: 100%;
  width: 100%;
  justify-content: center;
  /* align-items: flex-end; */
  padding: 30px;
  top: 0px;
  left: 0px;
  background-color: green;
}

.mobile-icon-container {
  
  z-index: 999;
  max-width: 100%;
  height: 15px;
  
  
}

/* /TODO: Need to make the li items horizontal */
.main-nav-item {
  /* position: absolute;
  transform: rotate(-90deg);
  -webkit-transform-origin: left top;
  -webkit-transform:rotate(-90deg) translateX(-100%); */
  
  /* top: 328px;
  left: 50px; */
  /* display: flex; */
  text-align: right;
  background-color: orange;
  max-width: 100%;
  
  
  
 
}

.main-nav-item > li {
  
  /* margin-right: 20px;
  height: 100%;
  line-height: 45px; */
  color: black;
  /* display: block; */
  /* overflow: hidden; */
  /* position: static; */
  /* display: inline; */
  max-width: 100%;

}

/* .nav-logo {
  height: 100px;
} */
