.projCardContainer {
    
    width: 100%;
    padding: .5rem;
   
    
    &:hover {
      cursor: pointer;
    }
    
  
    .projCardBox {
      position: relative;
      height: 300px;
      /* margin: 10px; */
      box-sizing: border-box;
      display: inline-block;
      overflow: hidden;
      box-shadow: 0 0 20px #494f653b;
      /* border: 10px solid blue; */
      max-width: 100%;
      width:100%;
  
    
      .imgWrapper {
        position: relative;
        overflow: hidden;
        
        
        img {
          max-width: 100%;
          transition: transform 2s;
          width: 100%;
          background-size: cover;
          background-position: center;
          image-rendering: auto;
          image-rendering: crisp-edges;
          image-rendering: pixelated;
          height: 300px;       
        }
      }
      
      .detailsBox {
        position: absolute;
        top: 10px;
        left: 10px;
        bottom: 10px;
        right: 10px;
        background: #2DBCB4;
        border-radius: 18px;
        opacity: .95;
        transform: scaleY(0);
        transition: transform .5s;
  
        .contentBox {
          position: absolute;
          text-align: center;
          color: #fff;
          width: 100%;
          height: 100%;
          display: flex;
          align-items: center;
          
        
          p {
            font-size: 40px;
            /* padding: 4rem; */
            font-family: 'Amatic SC', sans-serif;
            color: #fff;
            width: 100%;
            display: inline-block;
            vertical-align: middle;
            
          }
          
        }
      }
    }
  }
    
  
  .projCardContainer .projCardBox:hover .imgWrapper img {
    transform: scale(1.2);
  }
      
  
  .projCardContainer .projCardBox:hover .detailsBox {
    transform: scaleY(1)
  }

  /* @media only screen and (max-width: 768px) {
    .projCardContainer .projCardBox .detailsBox .contentBox p {
      
      
    }
  } */