/* emailform-container
    bg-img
        content */

.emailform-container {
    position: relative;
    width: 500px;
    /* width: 100%; */
    height: 650px;
    /* height: 100%; */
    background: #121212;
    border-radius: 20px;
    box-shadow: 0 6px 20px rgba(0, 0, 0, .4);
    overflow: hidden;

    &:before {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 1;
        background: linear-gradient(to top, #121212 65%, transparent);/* #2DBCB4 */

    }

    .bg-img {
        position: absolute;
        top: -60px;
        width: 100%;
        height: 300px;
        /* height: 100%; */
        /* background: url("1639030449622.jpg") center / cover; */
    }

    .content {
        position: absolute;
        bottom: 0;
        z-index: 2;
        width: 100%;
        height: 80%;
        padding-top: 90px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        font-family: 'Poppins', sans-serif; /* TODO: Change fonts */

        form {
            /* margin-top: 20px; */
            width: 260px;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
        
            input {
                /* width: 100%; */
                /* height: 50px; */
                width: 260px;
                height: 40px;
                outline: none;
                border-radius: 2px;
                margin: 5px 0;
                padding: 0 10px;
                background: #333333;
                border: none;
                border-bottom: 1px solid black;
                margin: 10px 0px;
                font-size: 14px;
                /* padding-left: 10px; */

                &::placeholder {
                    font-family: "Poppins", sans-serif;
                    /* color: blue; */
                }
            }
        
            textarea {
                width: 260px;
                height: 40px;
                outline: none;
                border-radius: 2px;
                margin: 10px 0px;
                font-size: 14px;
                background: #333333;
                padding: 0 10px;
                padding-top: 10px;
                border-bottom: 1px solid black;
                font-family: 'Poppins', sans-serif;
                /* padding-left: 10px; */

                &::placeholder {
                    font-family: "Poppins", sans-serif;
                    /* color: blue; */
                }
            }
        
            .contact-button {
                /* border: none; */
                /* border-radius: 25px; */
                /* padding: 15px; */
                /* background-color: #59b256; */
                /* color: white; */
                /* font-weight: 800; */
                cursor: pointer;
                text-transform: uppercase;
                width: 260px;
                height: 40px;
                border: none;
                outline: none;
                border-radius: 2px;
                background: #2DBCB4;
                color: #fff;
                font-size: 16px;
                font-weight: bolder;
                font-family: "Poppins", sans-serif;
                margin-top: 15px;
                /* align-items: center;
                justify-content: center; */
            }
        }

        .formtxt {
            width: 260px;
            color: #737373;
            font-size: 13px;
            padding-top: 20px;

            a {
                text-decoration: none;
                color: #fff;
            }
        }

        .sociallogo {
            color: #fff;
            justify-self: start;
            cursor: pointer;
            text-decoration: none;
            font-size: 1.5rem;
            display: flex;
            align-items: center;
            margin-bottom: 16px;
            font-weight: bold;
            padding-top: 20px;
            padding-bottom: 25px;
            
        }
    }
    
}

@media screen and (max-width: 1000px) {
    .emailform-container {
        width: 100%;
    }
}