/* emailform-container
    bg-img
        content */

.emailform-container {
    position: relative;
    /* width: 500px; */
    width: 100%;
    /* height: 650px; */
    /* height: 100vh; */
    height:100%;
    /* background: #121212; */
    /* border-radius: 20px; */
    box-shadow: 0 6px 20px rgba(0, 0, 0, .4);
    overflow: hidden;
    background: hsla(0,0%,42.7%,.12);
    box-shadow: 0 3px 30px rgb(0 0 0 / 10%);
    backdrop-filter: blur(5px);

    &:before {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 1;
        background: linear-gradient(to top, #f0e9dc 55%, transparent);

    }

    .bg-img {
        position: absolute;
        top: -60px;
        width: 100%;
        height: 600px;
        object-fit: cover;
        /* height: 100%; */
        /* background: url("1639030449622.jpg") center / cover; */

        @media screen and (min-device-width: 2000px) {
            top: -40px;
            height: 860px;
        }
    }

    .content {
        position: absolute;
        bottom: 0;
        z-index: 2;
        width: 100%;
        height: 80%;
        padding-top: 90px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-family: 'Lora', sans-serif; /* TODO: Change fonts */

        form {
            /* margin-top: 20px; */
            width: 260px;
            /* height: 100%; */
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
        
            input {
                width: 260px;
                height: 40px;
                outline: none;
                border-radius: 5px; //friendly, serious
                margin: 5px 0;
                padding: 0 10px;
                /* background: #333333; */
                background: #FFF;
                border: none;
                /* border-bottom: 1px solid black; */
                margin: 10px 0px;
                font-size: 14px;
                /* padding-left: 10px; */
                font-family: 'Lora', sans-serif;

                &::placeholder {
                    font-family: "Lora", sans-serif;
                    /* color: blue; */
                }
            }
        
            textarea {
                width: 260px;
                height: 40px;
                outline: none;
                border-radius: 5px;
                margin: 10px 0px;
                font-size: 14px;
                /* background: #333333; */
                background: #FFF;
                padding: 0 10px;
                padding-top: 10px;
                /* border-bottom: 1px solid black; */
                font-family: 'Lora', sans-serif;
                /* padding-left: 10px; */

                &::placeholder {
                    font-family: "Lora", sans-serif;
                    /* color: blue; */
                }
            }
        
            .contact-button {
                /* border: none; */
                /* border-radius: 25px; */
                /* padding: 15px; */
                /* background-color: #59b256; */
                /* color: white; */
                /* font-weight: 800; */
                display: flex;
                align-items: center;
                justify-content: center;
                
                cursor: pointer;
                text-transform: uppercase;
                width: 260px;
                height: 40px;
                border: none;
                outline: none;
                /* border-radius: 2px; */
                border-radius: 20px;
                background: #60D2B6;
                color: #fff;
                box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
                transition: all 0.3s ease 0s;
                font-size: 16px;
                font-weight: bolder;
                font-family: "Lora", sans-serif;
                margin-top: 15px;
                /* align-items: center;
                justify-content: center; */

                &:hover {
                    background-color: #36BF9D; //Mountain Meadow
                    box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
                    color: #fff;
                    transform: translateY(-7px);
                  }

                img {
                    padding: 5px;
                }

                p {
                    padding: 5px;
                    letter-spacing: 2px;
                }
            }
            .contact-txt-container {
                /* padding: 20px; */
                display: flex;
                align-items: center;

                .contact-txt-fade {
                    /* opacity: 0.01; */
                    -webkit-animation: fadein 1s cubic-bezier(0.445,0.05,0.55,0.95) forwards;
                    animation: fadein 1s cubic-bezier(0.445,0.05,0.55,0.95) forwards;
                    font-family: "Lora", sans-serif;
                    font-size: 16px;
                    padding: 10px;
                    font-weight: bold;
                    color:  #716252;
                }
            }

            @keyframes fadein {
                0% {opacity: 0; }
                100% {opacity: 1;}
            }
        }

        .formtxt {
            width: 260px;
            color: #737373;
            font-size: 13px;
            padding-top: 20px;

            a {
                text-decoration: none;
                /* color: #fff; */
                color: #36BF9D;
            }
        }

        .sociallogo {
            /* color: #fff; */
            color: #36BF9D;
            justify-self: start;
            cursor: pointer;
            text-decoration: none;
            font-size: 1.5rem;
            display: flex;
            align-items: center;
            margin-bottom: 16px;
            font-weight: bold;
            padding-top: 20px;
            padding-bottom: 25px;
            font-family: "Original surfer", sans-serif;
            
        }
    }
    
}

@media screen and (max-width: 1024px) {
    .emailform-container {
        border-top: 2px solid #ddd;
        height: 750px;
        /* border-top: 1px solid #e7e7e7; */

        .content {
            /* display: flex; */

            form {
                width: 100%;
                justify-content: center;
                align-items: center;
                max-width: 786px;
                
                .forminput-wrapper {
                    
                    width:100%;
                    padding: 15px;

                    input {
                        /* display: flex; */
                        width: 100%;
                    }

                    textarea {
                        /* display: flex; */
                        width: 100%;
                    }
                }
            }
        }
    }
}