#casestudy-countdown {
    /* border-left: 2px solid #ddd; */
    background: #0c0c0c;
    display: flex;
    height: 100vh;
    max-height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    /* padding: 0 30px; */
    /* height: 800px; */
    position: relative;
    object-fit: contain;
    /* padding: 100px; */

    &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: linear-gradient(180deg, rgba(0,0,0,0.2) 0%, rgba(0,0,0,0.6) 100% ), linear-gradient(190deg, rgba(0,0,0,0.2) 0%, transparent 100%);
        z-index: 2;
    }

    @media screen and (max-width: 1000px) {
        #casestudy-countdown {
            border: none;
            height: 325px;
            /* display: none; */
            /* margin-top: -75px; */
        }
     }

    .casestudy-heroSection-bg {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        overflow: hidden;

        .casestudy-hero-img {
            width: 100%;
            height: 100%;
            -o-object-fit: cover;
            object-fit: cover;
            background: #232a34;
        }
    }

    .casestudy-hero-content {
        z-index: 3;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        /* padding: 20px; */
        justify-content: center;
        background: hsla(0,0%,42.7%,.12);
        box-shadow: 0 3px 10px rgb(0 0 0 / 10%);
        backdrop-filter: blur(1px);
        border-radius: 5px;
        /* padding: 75px 50px 75px 50px; */
        width: 100%;
        height: 100%;

        @media only screen and (max-device-width: 768px) {
            
            
        }

        .countdown-heading-wrapper {
            display: flex;
            align-items: center;
            justify-content: space-around;
            padding: 60px;
            background: hsla(0,0%,42.7%,.12);
            box-shadow: 0 3px 10px rgb(0 0 0 / 10%);
            backdrop-filter: blur(1px);
            border-radius: 5px;
            border: 10px solid blue;

            @media only screen and (max-device-width: 768px) {
                flex-direction: column;
                padding: 40px;
                justify-content: center;

            }

            .countdown-heading {
                color: #36BF9D;
                font-family: 'Original surfer', sans-serif;
                font-size: 48px;
                text-align: center;
                text-transform: uppercase;
                letter-spacing: 5px;
                padding: 60px;
                background: hsla(0,0%,42.7%,.12);
                box-shadow: 0 3px 10px rgb(0 0 0 / 10%);
                backdrop-filter: blur(1px);
                /* height: 100px; */
                border: 10px solid red;
                

                .countdown-heading-interval {
                    color: #fff;
                    padding: 40px;
                }

                @media only screen and (max-device-width: 768px) {
                    font-size: 20px;
                    /* height: 40px; */
                }
            }
        }

        
        .casestudy-hero-h1 {
            color: #fff;
            font-family: 'Original surfer', sans-serif;
            font-size: 48px;
            text-align: center;
            text-transform: uppercase;
            letter-spacing: 5px;

            @media only screen and (max-device-width: 480px) {
                font-size: 30px;
            }
        }

        .casestudy-hero-p {
            /* margin-top: 5px; */
            color: #fff;
            font-size: 24px;
            text-align: center;
            max-width: 400px;
            font-family: 'Lora', sans-serif;
            letter-spacing: 1px;
            text-transform: uppercase;
            /* padding: 40px; */

            @media only screen and (max-device-width: 480px) {
                font-size: 15px;
            }

        }
    }
}