.landing-section {
    width: 100%;

    &:hover {
        cursor: pointer;
    }
    
    div {
        display: flex;
        flex-direction: column;
        align-items: center;
        color: green;
    }

   


    .landing-CardBox {
        position: relative;
        height: 300px;
        box-sizing: border-box;
        display: inline-block;
        overflow: hidden;
        box-shadow: 0 0 20px #494f653b;
        max-width: 100%;
        width: 100%;

        .landing-imgWrapper {
            position: relative;
            width: 100%;
            


            img {
                max-width: 100%;
                width: 100%;
                background-size: cover;
                background-position: center;
                image-rendering: auto;
                image-rendering: crisp-edges;
                /* image-rendering: pixelated; */
                transition: transform 3s;
            }
        }

        &:hover .landing-imgWrapper {
            img {
                transform: scale(1.2)
                     
            }
        }
/* TODO: Finish styling - add text overlay to image */
        /* .landing-detailsBox {

            position: absolute;
            top: 10px;
            left: 10px;
            bottom: 10px;
            right: 10px;
            background: #2DBCB4;
            border-radius: 18px;
            opacity: .95;
            transform: scaleY(0);
            transition: transform .5s; */

                .landing-contentBox {
                    
                    position: absolute;
                    top: 10px;
                    text-align: center;
                    padding-top: 8vh;
                    color: #fff;
                    width: 100%;
                    height: 100%;
                    
                
                    .landing-cardText {
                        font-size: 30px;
                        /* padding: 4rem; */
                        font-family: 'Amatic SC', sans-serif;
                        color: #FFF;
                        text-transform: uppercase;
                        width: 100%;
                        margin: 4rem;
                        object-fit: contain;
                        display: inline-block;
                        vertical-align: middle;
                        position: relative;
                        transition: transform 2s;
                        /* border: 10px solid; */
                  
                    }
                    &:hover .landing-cardText {
                    
                        transform: scale(1.3)
                        
                    }
                    
                }

        /* } */
    
    }

}

/* .landing-section .landing-CardBox:hover .landing-imgWrapper img {
    transform: scale(1.2);
} */

@media only screen and (min-device-width: 280px) and (max-width: 480px) {

}

@media only screen and (min-device-width: 375px)and (max-width: 768px) {
    
   
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1000px) {

}

/* TODO: Finish up the responsive layout: 
- Notice that I havnt gotten the text overlay scaling right yet
*/
@media only screen and (min-device-width: 1000px) /* and (max-device-width: 1366px) */ {
    .landing-section {
        display: grid;
        grid-gap: 5px;
        position: relative;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        overflow: hidden;
        align-items: center;
        justify-content: center;
        max-width: 100%;


        .landing-CardBox {
            height: 100vh;

            .landing-imgWrapper {

                img {
                    height: 100vh;
                    object-fit: cover;
                }
            }

            .landing-contentBox {
                
                .landing-cardText {
                    font-size: 30px;
                    margin: 24rem;
                    transition: transform 2s;
                    /* border: 10px solid; */
                }
                &:hover .landing-cardText {
                    
                    transform: scale(1.3)
                    
                }
              /*   &:focus .landing-cardText {
                  
                        background-color: rgba(255, 255, 255, 0.75);
                        color: red;
                    
                } */
                
            }
    
        }
        
    }
}

/* @media only screen and (min-device-width: 1366px) and (max-device-width: 2500px) {

} */
