/* export const HeroContainer = styled.div`
    background: #0c0c0c;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 30px;
    height: 800px;
    position: relative;
    z-index: 1;

    :before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: linear-gradient(180deg, rgba(0,0,0,0.2) 0%, rgba(0,0,0,0.6) 100% ), linear-gradient(190deg, rgba(0,0,0,0.2) 0%, transparent 100%);
        z-index: 2;
    }
` */


.landing-section {
    width: 100%;

    /* TODO: Mess with the background gradient and ensure it's transparent  - this isnt complete!!!*/
    :before {
        content: "";
        /* background: linear-gradient(180deg, rgba(0,0,0,0.2) 0%, rgba(0,0,0,0.6) 100% ), linear-gradient(190deg, rgba(0,0,0,0.2) 0%, transparent 100%); */
        /* box-shadow: inset 0 0 0 1000px rgba(0,0,0,.2); */
        z-index: 2;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        position: absolute;
    }


    &:hover {
        cursor: pointer;
    }
    
    div {
        display: flex;
        flex-direction: column;
        align-items: center;
        color: green;
        
    }

   


    .landing-CardBox {
        position: relative;
        height: 300px;
        box-sizing: border-box;
        display: inline-block;
        overflow: hidden;
        box-shadow: 0 0 20px #494f653b;
        max-width: 100%;
        width: 100%;

        .landing-imgWrapper {
            position: relative;
            width: 100%;
            height: 100%;


            img {
                position: absolute;
                max-width: 100%;
                width: 100%;
               /*  top:0%;
                left:0%;
                right:0%;
                bottom: 0%; */
                min-height: 100%;
                height: auto;
                background-size: cover;
                background-position: center;
                image-rendering: auto;
                image-rendering: crisp-edges;
                /* image-rendering: pixelated; */
                transition: transform 3s;
                /* object-fit: contain; */
            }
        }

        &:hover .landing-imgWrapper {
            img {
                transform: scale(1.2)
                     
            }
        }
/* TODO: Finish styling - add text overlay to image */
        /* .landing-detailsBox {

            position: absolute;
            top: 10px;
            left: 10px;
            bottom: 10px;
            right: 10px;
            background: #2DBCB4;
            border-radius: 18px;
            opacity: .95;
            transform: scaleY(0);
            transition: transform .5s; */

                .landing-contentBox {
                    
                    position: absolute;
                    display: flex;
                    justify-content: center;
                    top: 10px;
                    /* left: 10px;
                    bottom: 10px;
                    right: 10px; */
                    text-align: center;
                    color: #fff;
                    /* --gray-primary: #C4C4C4; */
                    width: 100%;
                    height: 100%;
                    
                    .landing-textWrapper {

                      
                        background-color: #494f653b;
                        box-shadow: 0 0 20px #494f653b;
                        color: #FFF; /* #ddd */
                        width: 100%;
                        object-fit: contain;
                        /* display: inline-block; */
                        vertical-align: middle;
                        position: relative;
                        /* transition: transform 2s; */
                        /* border: medium solid; */
                        

                        .landing-cardText {
                            font-size: 30px;
                            font-weight: bold;
                            /* padding: 4rem; */
                            font-family: 'Amatic SC', sans-serif;
                            letter-spacing: 5px;
                            /* background-color: #494f653b; */
                            /* box-shadow: 0 0 20px #494f653b; */
                            color: #FFF; /* #ddd */
                            text-transform: uppercase;
                            width: 100%;
                            margin: 1rem;
                            object-fit: contain;
                            display: inline-block;
                            vertical-align: middle;
                            position: relative;
                            transition: transform 2s;
                            /* border: medium solid; */
                      
                        }
                        &:hover .landing-cardText {
                        
                            transform: scale(1.2)
                            
                        }
                    }
                    
                }

        /* } */
    
    }

}

/* .landing-section .landing-CardBox:hover .landing-imgWrapper img {
    transform: scale(1.2);
} */

@media only screen and (min-device-width: 280px) and (max-width: 480px) {

}

@media only screen and (min-device-width: 375px)and (max-width: 768px) {
    
   
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1000px) {

}

/* @media only screen and (max-device-width: 768px) {
    .landing
} */

/* TODO: Finish up the responsive layout: 
- Notice that I havnt gotten the text overlay scaling right yet
*/
@media only screen and (min-device-width: 1000px) /* and (max-device-width: 1366px) */ {
    .landing-section {
        display: grid;
        grid-gap: 5px;
        position: relative;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        overflow: hidden;
        align-items: center;
        justify-content: center;
        max-width: 100%;


        .landing-CardBox {
            height: 100vh;

            .landing-imgWrapper {

                img {
                    height: 100vh;
                    object-fit: cover;
                }
            }

            .landing-contentBox {
                
                .landing-cardText {
                    font-size: 30px;
                    margin: 24rem;
                    transition: transform 2s;
                    /* border: 10px solid; */
                }
                &:hover .landing-cardText {
                    
                    transform: scale(1.3)
                    
                }
              /*   &:focus .landing-cardText {
                  
                        background-color: rgba(255, 255, 255, 0.75);
                        color: red;
                    
                } */
                
            }
    
        }
        
    }
}


/* @media only screen and (min-device-width: 1366px) and (max-device-width: 2500px) {

} */
