.landing-section {
    width: 100%;

    &:hover {
        cursor: pointer;
    }
    
    div {
        display: flex;
        flex-direction: column;
        align-items: center;
        color: green;
    }

   


    .landing-CardBox {
        position: relative;
        height: 300px;
        box-sizing: border-box;
        display: inline-block;
        overflow: hidden;
        box-shadow: 0 0 20px #494f653b;
        max-width: 100%;
        width: 100%;

        .landing-imgWrapper {
            position: relative;
            width: 100%;
            


            img {
                max-width: 100%;
                width: 100%;
                background-size: cover;
                background-position: center;
                image-rendering: auto;
                image-rendering: crisp-edges;
                /* image-rendering: pixelated; */
                transition: transform 2s;
            }
        }

        &:hover .landing-imgWrapper {
            img {
                transform: scale(1.2)
                     
            }
        }
/* TODO: Finish styling - add text overlay to image */
        .landing-detailsBox {

        }
    
    }

}

/* .landing-section .landing-CardBox:hover .landing-imgWrapper img {
    transform: scale(1.2);
} */

@media only screen and (min-device-width: 280px) and (max-width: 480px) {

}

@media only screen and (min-device-width: 375px)and (max-width: 768px) {
    
   
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1000px) {

}

/* TODO: Finish up the responsive layout: */
@media only screen and (min-device-width: 1000px) /* and (max-device-width: 1366px) */ {
    .landing-section {
        display: grid;
        position: relative;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        overflow: hidden;
        align-items: center;
        justify-content: center;
        max-width: 100%;


        .landing-CardBox {
            height: 100vh;

            .landing-imgWrapper {

                img {
                    height: 100vh;
                    object-fit: cover;
                }
            }
    
        }
        
    }
}

/* @media only screen and (min-device-width: 1366px) and (max-device-width: 2500px) {

} */
