.SectionWrapper {
    /* padding-top: 4rem; */
    height: 100%;
    /* max-height: 100%; */
    max-width: 100%;
    border: 10px solid red;
    /* margin-bottom: 200px; */
    /* overflow: scroll; */

    /* @media only screen and (min-device-width: 1000px) {
        height: 50vh;
      } */

      @media only screen and (min-width: 1000px) {
        /* height: 100%; */
        display: flex;
        align-content: center;
        align-items: center;
        justify-content: center;
       
     };
}

.GrayBg {
    background-color: #f7f8f8;
}

@media only screen and (max-width: 768px) {
    .SectionWrapper {
        padding-top: 1rem;
        /* display: flex;
        align-items: center; */
        /* justify-content: center; */
        /* align-content: center; */
        /* height: 150%; */
        /* overflow: auto; */
        height: auto;
    }
}





  