.SectionWrapper {
    /* padding-top: 4rem; */
    height: 100%;
    max-height: 100%;
    max-width: 100%;

    /* @media only screen and (min-device-width: 1000px) {
        height: 50vh;
      } */

      @media only screen and (min-width: 1000px) {
        /* height: 50%; */
        display: flex;
        align-content: center;
        align-items: center;
        justify-content: center;
       
     };
}

.GrayBg {
    background-color: #f7f8f8;
}

@media only screen and (max-width: 768px) {
    .SectionWrapper {
        padding-top: 1rem;
    }
}





  