/* :root {
    --primary: #2c426a;
    --secondary: #f0e9dc;
    --dark: #212121;
    --light: #F3F3F3;
  } */
  /* #f0e9dc, #00F0FF */
 /*  * {
    margin: 0;
    padding: 0;
  } */

  /* Card hover FX */
  .card{
    max-width: 100%;
    /* height: 100%; */
    transition: transform .2s ease-in;
    /* z-index: 999; */
    /* border: 10px solid yellow; */
  }

  .card:hover {
    transform: scale(1.02);
  }
  
  /*Perspective: 1000px -> allows us to vamp up the 3D effect based on px value*/
  .card {
    margin: 5px auto 0;
    /* width: 1200px; */
    width: 500px;
    height: 700px;
    perspective: 1000px;
    display: flex;
    flex-direction: row;
    padding: .7rem;
   /*  flex-wrap: wrap; */
    justify-content: center;
    object-fit: contain;
    /* z-index: 999; */
    /* border: 10px solid yellow; */

    @media only screen and (max-width: 768px) {
      height: 100%;
      /* width: 100%; */
    }
  }

  .img__container {
    object-fit: cover;
  }

  .front__image {
    object-fit: cover;
    height: 100%;
  }

  
  /*Preserve-3d along with transform allows us to perform the transform in a 3D space*/
  .card__inner {
    width: 100%;
    /* height: 100%; */
    height: 500px;
    height: 100%;
    transition: transform 1s;
    transform-style: preserve-3d;
    cursor: pointer;
    position: relative;
    /* border: 10px solid pink; */


    @media only screen and (max-width: 768px) {
      height: 100%;
      width: 100%;
    }
    

  }
  
  
  /*Use JS here to flip the card 180degrees*/
  .card__inner.is-flipped {
    transform: rotateY(180deg);
  }
  
  
  /*Backface-visibility let's us hide the back of the 3D image to preserve the overall intended effect*/
  .card__face {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    overflow: hidden;
    border-radius: 16px;
    box-shadow: 0px 3px 18px 3px rgba(0, 0, 0, 0.2);
  }
  
  .card__face--front {
    background-image: linear-gradient(to bottom, #2c426a, #f0e9dc);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .card__face.card__face--front h2 {
    color: #f0e9dc;
    font-size: 40px;
    transform: translate(0%, 75%);
    position: absolute;
  }
  
  /*We rotate the back content to the back of the card*/
  .card__face--back {
    background-color: #f0e9dc;
    transform: rotateY(180deg);
    overflow-x: hidden;
    overflow-y: auto;
  }
  
  .card__content {
    width: 100%;
    height: 100%;
    
  }
  
  .card__header {
    position: relative;
    padding: 30px 30px 40px;
  }
  
  
  /*Insert after the header*/
  /*Z-index specifies stack order of the element*/
  .card__header:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    border-radius: 0 0 0 0;
    background-color: rgb(36, 73, 106);;
    /* background-image: linear-gradient(to bottom left, #2c426a 10%, #f0e9dc 115%); */
  }
  
  
  /*Styling of the Image Bubble:*/
  /*Object-Fit:cover -> let's us fit the image into the circle*/
  /*display: block lets us position it like a <p> tag*/
  .pp {
    display: block;
    width: 128px;
    height: 128px;
    margin: 0 auto 30px;
    border-radius: 50%;
    background-color: #f0e9dc;
    border: 5px solid #f0e9dc;
    object-fit: cover;
  }
  
  .card__header h2 {
    color: #f0e9dc;
    font-size: 24px;
    font-weight: 900;
    text-transform: uppercase;
    text-align: center;
    font-family: 'Original surfer', sans-serif;
    letter-spacing: 2px;
  }
  
  .card__body {
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h3 {
      color: #386FA4;
      font-size: 20px;
      font-weight: 600;
      margin-bottom: 15px;
      font-family: 'Original surfer', sans-serif;
    }

    p {
        color: #716252;
        font-size: 16px;
        line-height: 1.5;
        font-family: 'Lora', sans-serif;
      }
  }
  
  
  
  