.blueBg {
    background-color: #101522;
    display: flex;
    width: 100%;
    
    .bg-wrapper {
    display: flex;
    z-index: 1;
    height: 860px;
    width: 100%;
    max-width: 1100px;
    margin-right: auto;
    margin-left: auto;
    padding: 0 24px;
    justify-content: center;

        
    }

}

