/* TODO: Review the styles: */

#carousel-wrapper {
    display: flex;
    position: relative;
    /* height: 500px; */
    max-height: 100%;
    height: 800px;
    /* height: 100%; */
    width: 100%;
    max-width: 100%;
    justify-content: center;
    align-items: center;
    /* align-items: center; */ /* this is making white space appear */
    /* background: #f0e9dc; */
    background: #386FA4;
    /* background: linear-gradient(#36BF9D, #386FA4); */
    border-top: 1px solid #ddd;
    
    /* border: 10px solid blue; */
    /* border-bottom: 50px solid yellow; */
    /* background-color: #101522; */

    @media only screen and (max-width: 768px) {
        height: 750px;
    }

    /* .carousel-container {
        border: 10px solid red;
        display: flex;
        height: 500px;
        height: 100%;
        width: 80%;
        justify-content: center;
        align-items: center;
    } */

    .arrow-container {
        /* border: 10px solid red; */
        /* z-index: 10; */
        height: 100%;
        width: 100%;

        .right-arrow {
            position: absolute;
            top: 50%;
            right: 10rem;
            /* font-size: 1.1rem; */
            /* color: #000; */
            z-index: 10;
            cursor: pointer;
            user-select: none;
            /* background-color: black; */
            transition: all 0.3s ease 0s;
            opacity: .5;
            /* box-shadow: 0 3px 30px rgb(0 0 0 / 10%); */
            
            
            /* background-color: rgba(0, 0, 0, .3);
            border-radius: 25px; */
           
            &:hover {
                opacity: 1;
                /* color: #36BF9D; */
                transform: translateY(-7px);
            }

            @media only screen and (max-width: 768px) {
                right: 0rem;
                fill: black
            }

            

            /* TODO: MEDIA 1000 and 1366px - ipad pro - keep as columns*/

  /* TODO: MEDIA 1366 and 2500px */

  /* TODO: MEDIA Min 2500 */
        }
    
        .left-arrow {
            position: absolute;
            top: 50%;
            left: 10rem;
            /* font-size: 1.1rem; */
            display: flex;
            color: #000;
            z-index: 10;
            cursor: pointer;
            user-select: none;
            /* background-color: #000; */

            transition: all 0.3s ease 0s;
            opacity: .5;
            
            &:hover {
                opacity: 1;
                /* color: #36BF9D; */
                transform: translateY(-7px);
            }

            @media only screen and (max-width: 768px) {
                left: 0rem;
                fill: black;
            }
        }
    }



    .carousel-img-wrapper  {

        max-height: 100%;
        /* border: 10px solid red; */
        /* max-width: 80%; */
        /* height: 100%; */ /* TODO: Switch back if using a normal image */
        width: 100%;
        align-items: center;
        justify-content: center;
        position: absolute;
        /* z-index: 999; */

        &.slide {
            opacity: 0;
            transition-duration: 1s ease;
        }
        
        &.slide.active {
            opacity: 1;
            transition-duration: 1s;
        }
        

         @media only screen and (max-width: 768px) {
            height: 100%;
            max-height: 100%;
            padding: 15px;
        }

        .slider-image {
            display: flex;
            margin: 0 auto;
            max-width: 100%;
            /* width: 600px; */
            object-fit: cover;
            max-height: 100%;
            height: 100%;
            border-radius: 10px;
            box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
            /* position: absolute; */

             @media only screen and (max-width: 768px) {
                border-radius: 0;
            }
        }

    }

    .carousel-nav {
    
        /* background: pink; */
        position: absolute;
        display: flex;
        justify-content: center;
        padding: 10px 0;
        margin-top: 750px;
        /* height: 100%; */

        @media only screen and (max-width: 768px) {
            margin-top: 670px;
        }
        

        .indicator {
            transition-duration: 1s ease;
            cursor: pointer;
            border: .5px solid rgba(0, 0, 0, .3);
            border-radius: 50%;
            width: 15px;
            height: 15px;
            background: rgba(0, 0, 0, .3);
            margin: 0 12px;
            transition: all 0.3s ease 0s;
            opacity: .5;
            
            
            &:hover {
                opacity: 1;
                /* color: #36BF9D; */
                transform: translateY(-2px);
                /* animation-name: scale;
                animation-duration: 4s;
                animation-iteration-count: infinite;
                animation-timing-function: linear;
                transition: all 0.3s ease 0s; */
            }

            @keyframes scale {
                0% {
                    transform: scale(1.5);
                }
                25% {
                    transform: scale(1.5);
                }
                75% {
                    transform: scale(1.5);
                }
                100% {
                    transform: scale(1.5);
                }
            }
        
            &.active {
                background: /* rgba(0, 0, 0,.75) */#fff;
                transition-duration: 1s;
                opacity: 1;
                border: #fff;
            }
        }

        
    }
}


