/* TODO: Review the styles: */

#carousel-wrapper {
    display: flex;
    position: relative;
    height: 500px;
    /* height: 100%; */
    width: 100%;
    max-height: 100%;
    max-width: 100%;
    justify-content: center;
    align-items: center;
    /* align-items: center; */ /* this is making white space appear */
    background: #f0e9dc;
    border-top: 1px solid #ddd;
    
    /* border: 10px solid blue; */
    /* border-bottom: 50px solid yellow; */
    /* background-color: #101522; */

   /*  @media only screen and (max-width: 768px) {
        
    } */

   /*  .carousel-container {
        border: 10px solid red;
        display: flex;
        height: 500px;
        width: 80%;
        justify-content: center;
        align-items: center;
    } */

    .arrow-container {
        /* border: 10px solid red; */
        /* z-index: 10; */
        height: 100%;
        width: 100%;
        .right-arrow {
            position: absolute;
            top: 50%;
            right: 0rem;
            /* font-size: 1.1rem; */
            /* color: #000; */
            z-index: 10;
            cursor: pointer;
            user-select: none;
            /* background-color: black; */
        }
    
        .left-arrow {
            position: absolute;
            top: 50%;
            left: 0rem;
            /* font-size: 1.1rem; */
            display: flex;
            color: #000;
            z-index: 10;
            cursor: pointer;
            user-select: none;
            /* background-color: #000; */
        }
    }



    .carousel-img-wrapper  {

        max-height: 100%;
        /* border: 10px solid red; */
        /* max-width: 80%; */
        height: 100%;
        /* width: 80%; */
        align-items: center;
        justify-content: center;
        /* background-color: blue; */
        position: absolute;

        &.slide {
            opacity: 0;
            transition-duration: 1s ease;
        }
        
        &.slide.active {
            opacity: 1;
            transition-duration: 1s;
            /* transform: scale(1.08); */
        }
        

         @media only screen and (max-width: 768px) {
            height: 100%;
            max-height: 100%;
        }

        .slider-image {
            display: flex;
            margin: 0 auto;
            max-width: 100%;
            /* width: 600px; */
            object-fit: cover;
            max-height: 100%;
            height: 100%;
            border-radius: 10px;
            box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
            /* position: absolute; */

             @media only screen and (max-width: 768px) {
                border-radius: 0;
            }
        }

    }

    .carousel-nav {
    
        /* background: pink; */
        position: absolute;
        display: flex;
        justify-content: center;
        padding: 10px 0;
        margin-top: 25rem;
        /* height: 100%; */

        .indicator {
            transition-duration: 1s ease;
            cursor: pointer;
            border: .5px solid rgba(0, 0, 0, .3);
            border-radius: 50%;
            width: 15px;
            height: 15px;
            background: rgba(0, 0, 0, .3);
            margin: 0 12px;
        
            &.active {
                background: /* rgba(0, 0, 0,.75) */#fff;
                transition-duration: 1s;
                /* border: none; */
            }
        }

        
    }
}


