$--width-text: 640px;
$--width-main: 1180px;
$--txt-color: #2c426a;

.ProjectPage {
    max-width: $--width-text;
    margin: 0 auto;
    padding: 4rem 2rem;
  
    h1 {
      color: #386FA4;
      font-family: 'Original surfer', sans-serif;
      text-align: center;
      
    }
  
    p {
      margin: 2rem 0;
      font-family: 'Dosis', sans-serif;
      font-weight: 400;
      color: #716252;
      font-size: 20px;
      /* text-align: center; */
      
    }
  
    h2 {
      margin-top: 20px;
      font-family: 'Dosis', sans-serif;
      text-align: center;
      color:#386FA4;
      font-weight: 500;
    }
  
    h3 {
      
      text-align: center;
      margin: 20px;
      color:#386FA4;
      font-weight: 500;
      font-family: 'Dosis', sans-serif;
      text-transform: uppercase;
      letter-spacing: 2px;
    }
  
    ul {
      /* margin-bottom: 1rem; */
      /* margin-top: 10px; */
      font-family: 'Dosis', sans-serif;
      font-weight: 400;
      color: #716252;
      font-size: 20px;
    }
  }
  
  .Img {
    width: 100%;
    margin: 0 auto;
    border: 1px solid $--txt-color;
  }