#contact-container {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;

    .contact-wrapper {
        display: grid;
        grid-template-columns: 50% 50%;
        max-width: 100%;
        max-height: 100%;
        height: 100vh;
        justify-items: center;
        align-items: center;
        background-color: #386FA4;
    
    }
}

@media screen and (max-width: 1024px) {
    
    #contact-container {

        .contact-wrapper {
            display: flex;
            flex-direction: column;
            flex-direction: column-reverse;
            height: 100%;
        }
    }
}