.header-wrapper {
    background-color: yellow;
    width: 10vw;
    height: 100vh;
    position: fixed;
    /* display: flex;  */
    z-index: 999;

    /* //TODO: This is new - deleted if ruins hamburger nav */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

@media screen and (max-width: 768px) {
    .header-wrapper {
      display: none;
      /* flex-direction: row; */
    }
  }
