$--gray-light: #f7f8f8;
$--gray-primary: #C4C4C4;
$--main-bg-color: #F0E9DC; /* Alabaster */
$--sec-bg-color: #07678E; /* Blue Sapphire */
$--main-btn-color: #2DBCB4; /* Tiffany Blue */
$--neutral-color: #12130F; /* Smoky Black */
$--misc-color: #BF4E30; /* Vermillion */
$--txt-color: #2c426a;
$--width-text: 640px;
$--width-main: 1180px;

