$--gray-light: #f7f8f8;
$--gray-primary: #C4C4C4;
$--main-bg-color: #F0E9DC; /* Alabaster */
$--sec-bg-color: #07678E; /* Blue Sapphire */
$--main-btn-color: #2DBCB4; /* Tiffany Blue */
$--neutral-color: #12130F; /* Smoky Black */
$--misc-color: #BF4E30; /* Vermillion */
$--txt-color: #2c426a;
$--width-text: 640px;
$--width-main: 1180px;

.ModalContainer {
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    z-index: 999;
    box-shadow: 0 0 10px #494f653b;
    animation: fadein .5s;
  }

  @keyframes fadein {
    from {
      opacity:0;
    }
    to {
      opacity:1;
    }
  }

  /* .FadeOut {
    animation: fadeout .5s;
  }

  @keyframes fadeout {
    from {
      opacity:1;
    }
    to {
      opacity:0;
    }
  } */

  .ModalContent {
    background-color: /* $--main-bg-color */#fff;
    border-radius: 3px;
    max-width: $--width-text; 
    margin: 50px 1rem;
  
    @media (min-width: $--width-text) {
      max-width: calc(640px - 2rem); //640 from $width-text
      margin: 50px auto;
      padding: 0 2rem;
    }
  }
  
  .ModalOpen {
    overflow: hidden; 
  }

 
  .ModalHeader {
    position: relative;
  }
  
  .CloseBtn {
    padding: .75rem;
    margin: 0;
    background: transparent;
    border: 0;
    position: absolute;
    right: 10px;
    font-weight: bold;
    font-size: 1.25rem;
    color: $--sec-bg-color;
    cursor: pointer;
    opacity: .5;

  
    @media (min-width: $--width-text) {
      margin-right: -2rem;
    }
  
    &:hover {
      color: $--main-btn-color;
      transition: 500ms ease .1s;
      opacity: 1;
      animation-name: scale;
      animation-duration: .4s;
      animation-iteration-count: infinite;
      animation-timing-function: linear;
     
    }
  }

@keyframes scale {
  0% {
      transform: scale(1.5);
  }
  25% {
      transform: scale(1.5);
  }
  75% {
      transform: scale(1.5);
  }
  100% {
      transform: scale(1.5);
  }
}