    #mainPage-wrapper {
        width: 100%;
        height: 800px;
        max-width: 100%;
        max-height: 100%;
        opacity: 1;
        display: flex;
        align-items: center;
        background-color: #101522;
    }
/* TODO: Fix up the styling for both desktop and mobile */
    .bio-wrapper {
        display: grid;
        grid-template-columns: 1fr 3fr;
        grid-gap: 10px;
        /* margin-top: 2rem; */
        width: 100%;
        height: 100%;
    }
/* FOR THE IMG CARDS */
    .overlay-practice {
        position: relative;
        width: auto;
        height: auto;
        display: flex;
        flex-wrap: wrap;
        /* background-color: yellow; */
        align-items: center;
        justify-content: center;
        margin-right: 1.5rem;
        margin-bottom: 2rem;

        .img-box {
            position: relative;
            width: 60%;
            height: 500px;
            overflow: hidden;
            transition: 0.5s;
            border-radius: 30px;

            &:hover {
                z-index: 1;
                transform: scale(1.15);
                box-shadow: 0 25px 40px rgba(0,0,0,.5);

                .img-content p {
                    transform: translateY(0);
                    transition-delay: 0.05s;
                }

                .img-content h2 {
                    transform: translateY(0);
                    transition-delay: 0.6s;
                }

                .img-container {
                    &:before {
                        opacity: 1;
                    }
                }
            }

            .img-content {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                z-index: 1;
                display: flex;
                padding: 20px;
                align-items: flex-end;

            }

            .img-content h2 {
                color: #fff;
                transition: 0.5s;
                text-transform: uppercase;
                margin-bottom: 5px;
                font-size: 20px;
                transform: translateY(200px);
            }

            .img-content p {
                color: black;
                transform: translateY(200px);
                transition: 0.5s;
                font-size: 20px;
                font-family: 'Amatic SC', sans-serif;
            }

            .img-container {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height:100%;
                border-radius: 30px;
                overflow: hidden;

                img {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }

                &:before {
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    z-index: 1;
                    /* background: linear-gradient(180deg,#00D1FF ,#00BF58); */
                    mix-blend-mode: multiply;
                    opacity: 0;
                    transition: 0.5s;
                }
            }
        }
    }
/* ------------------------------------------------------------------------------- */
/* THIS IS EVERYTHING IN .sideBio container */

    .sideBio {
        background-color: white;
        text-align: center;
        padding: 10rem;
        /* border-radius: 30px; */
        /* width: 30vw; */
        /* height: 100%; */
        /* margin: auto ; */
        /* margin-bottom: 2rem; */
        /* margin-right: 4rem; */
        color: #2c426a;
        /* color: white; */
        overflow-x: hidden;
        overflow-y: auto;
        

        h1 {
            font-family: 'Otomanopee One', sans-serif;
            text-transform: uppercase;
        //TODO: Need to define the variable in SCSS based in First Portfolio:
            /* color: var(--sec-bg-color); */
        }

       /*  h3 {
            display: flex;
            text-align: center;
            font-family: 'Otomanopee One', sans-serif;
            color: var(--sec-bg-color);
        } */

        h2 {
            text-transform: uppercase;
        }

        p {
            font-family: 'Amatic SC', sans-serif;
            font-weight: 300;
            overflow-x: hidden;
            overflow-y: auto;
            text-align: center;
            animation-duration: 1s;
            animation-name: slidein;
            line-height: 36px;
            font-weight: bold;
        }

        @keyframes slidein {
            from {
              margin-left: 100%;
              width: 300%;
            }
          
            to {
              margin-left: 0%;
              width: 100%;
            }
          }

        .links-about {
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            padding-top: 1rem;
            margin-top: 2rem;
            position: relative;


            a {
                display: block;
                width: 120px;
                height: 50px;
                text-decoration: none;
                line-height: 50px;
                text-align: center;
                border-radius: 3px;
                color: #f0e9dc;

                &:nth-child(1) {
                    &:hover {
                        /* color: var(--main-btn-color); */
                        color: green;
                        transition: color 500ms ease .15s;
                        animation-name: scale;
                        animation-duration: .4s;
                        animation-iteration-count: infinite;
                        animation-timing-function: linear;
                    }                    
                }

                &:nth-child(2) {
                    &:hover {
                        /* color: var(--main-btn-color); */
                        color: green;
                        transition: color 500ms ease .15s;
                        animation-name: scale;
                        animation-duration: 4s;
                        animation-iteration-count: infinite;
                        animation-timing-function: linear;
                    }
                }

                &:nth-child(3) {
                    &:hover {
                        /* color: var(--main-btn-color); */
                        color: green;
                        transition: color 500ms ease .15s;
                        animation-name: scale;
                        animation-duration: 4s;
                        animation-iteration-count: infinite;
                        animation-timing-function: linear;
                    }
                }

                &:nth-child(4) {
                    &:hover {
                        /* color: var(--main-btn-color); */
                        color: green;
                        transition: color 500ms ease .15s;
                        animation-name: scale;
                        animation-duration: 4s;
                        animation-iteration-count: infinite;
                        animation-timing-function: linear;
                    }
                }

                @keyframes scale {
                    0% {
                        transform: scale(1.5);
                    }
                    25% {
                        transform: scale(1.5);
                    }
                    75% {
                        transform: scale(1.5);
                    }
                    100% {
                        transform: scale(1.5);
                    }
                }
                
            }
        }

        
    }

/* ------------------------------------------------------------------------------- */
/* THIS IS FOR RESPONSIVENESS*/

  /* For Portrait view */
  
  @media only screen and /* (min-device-width: 280px) and  */(max-width: 768px) {
    #mainPage-wrapper {
        width: 100%;
        /* padding: 2.5rem 2.5rem 1.5rem 2.5rem; */
        /* margin-top: 4rem; */
        justify-content: center;
        height: 100%;
    }

    .bio-wrapper {
        display: flex;
        flex-direction: column;
        width: 90vw;
        /* height: 100%; */

        .overlay-practice {
            width: 90vw;
            margin-right: -10px;
            margin-top: 10px;
            transform: translate(0%, 0%);
    
    
            .img-box {
                width: 90%;
    
                &:hover {
                    z-index: 1;
                    transform: scale(1.05);
                    box-shadow: 0 25px 40px rgba(0,0,0,.5);
                }
            }
    
       
        }

        .sideBio {
            width: 90vw;
            overflow-x: hidden;
            overflow-y: auto;
            padding: 8rem;
            /* padding-bottom: 1rem; */

            .sideBio-heading1 {

            }

            .sideBio-heading2 {
                
            }

            p {
                font-size: 17px;
                overflow-x: hidden;
                overflow-y: auto;
            }

            .links-about {
                padding-top: 1rem;
                display: flex;
                /* grid-template-columns: 50% 50%; */
                margin: 0px;

                a {
                    width: 100%;
                    /* height: 70px; */
                    padding: .8rem;
                    margin: 0rem 10px 25px 0px;
                }
            }
        }
    }

  }

  

  /* TODO: MEDIA 786 and 1000px */

  /* TODO: MEDIA 1000 and 1366px */

  /* TODO: MEDIA 1366 and 2500px */

  /* TODO: MEDIA Min 2500 */