/* .App-logo {
  height: 40vmin;
  pointer-events: none;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

.app-container {
  /* z-index: 1;
  background-color: #101522; */
  height: 100%;
  max-height: 100%;
  max-width: 100%;
  width: 100%;
  background-color: #f0e9dc;
  
}

.fade {
  /* position: absolute; */
  /* left: 15px;
  right: 15px; */
  width: 100%;
  height: 100%;
}

/* Route-Transition Styling */
  .fade-enter {
    opacity: 0;
    transform: scale(1.1);
  }
  
 /*  .fade-enter */.fade-enter-active {
    opacity: 1;
    transform: scale(1);
    transition: opacity 300ms, transition 300ms /* ease-in */;
  }

  .fade-exit {
    opacity: 1;
    transform: scale(1);
  }

  /* .fade-exit */.fade-exit-active {
    opacity: 0;
    transform: scale(0.9);
    transition: opacity 200ms, transform 300ms;
  }

.route-container {
  width: 100%;
  height: 100%;
  /* position: fixed; */
  /* overflow-y: auto; */
  min-height: 100%;
  max-width: 100%;
  grid-column-start: 2; /* crucial for content nested in second column */
}

@media screen and (max-width: 768px) {
  .route-container {
    width: 100%;
  }
}

@media screen and (max-width: 1000px) {
  .route-container {
    margin-top: -8vh;
  }
}

/* TODO:My columns in app arent set properly */
@media only screen and (min-device-width: 1000px) {

    .app-container {
      display: grid;
      /* grid-template-columns: 10vw auto; */      
      /* grid-template-columns: 10% 90%;  */
      /* grid-template-columns: 1fr 1fr; */
      grid-template-columns: 1fr 9fr;
    }
  
  }


