/* .App-logo {
  height: 40vmin;
  pointer-events: none;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */


/* TODO: Navbar Breakpoints: */
@media only screen and (min-device-width: 1000px) /* and (max-device-width: 1366px) */ {

  .route-container {
    display: grid;
    grid-template-columns: 1fr 15fr;
    text-align: center;
    
  }

}



