/* .App-logo {
  height: 40vmin;
  pointer-events: none;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

.app-container {
  /* z-index: 1; */
  background-color: #101522;
  
}

.route-container {
  width: 100%;
  height: 100%;
  overflow-y: auto;
  min-height: 100%;
  max-width: 100%;
  top: 0;
  bottom: 0;
  grid-column-start: 2; /* crucial for content nested in second column */
}

@media screen and (max-width: 768px) {
  .route-container {
    width: 100%;
  }
}

@media only screen and (min-device-width: 1000px) {

    .app-container {
      display: grid;
      /* grid-template-columns: 1fr 15fr; */
      grid-template-columns: 10vw auto;
      /* text-align: center; */
      /* background-color: red; */
      
      
    }
  
  }

